# Copy this file to .env and update the values below

# Application Settings
APP_NAME=Lavalust
APP_KEY=feb62b999b6940421cc1aec5bd00b4716ec703e1fb4911ca63082cb93a6b8b2b
APP_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=
DB_NAME=mydb
